.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Tamsioji tema */

@media (prefers-color-scheme: dark) {
  .gradient-custom {
    background: #6e683f;
    background: -webkit-linear-gradient(to right, rgba(49, 47, 30, 0.5), rgba(3, 36, 9, 0.5));
    background: linear-gradient(to right, rgba(49, 47, 30, 0.5), rgba(3, 36, 9, 0.5));
  }
}

/* Šviesioji tema */
@media (prefers-color-scheme: light) {
  .gradient-custom {
    background: #37ecba;
    background: -webkit-linear-gradient(to right, rgba(67, 168, 47, 0.822), rgba(173, 164, 63, 0.781));
    background: linear-gradient(to right, rgba(67, 168, 47, 0.822), rgba(173, 164, 63, 0.781));
  }
}
